@model EmployeeRegistry.Models.tblER_Employee

@{
    ViewBag.Title = "Employee Information Details";
}
<table style="background-color:#FFFFFF; padding: 5px;width:100%" cellpadding="6" cellspacing="6">
    <tr>
        <td align="left" with="100%">

            <h2>Employee Information Details</h2>

            <div>
                <h4>Employee Information</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.lutER_Branch.BranchName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lutER_Branch.BranchName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.lutER_Directorate.DirectorateName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lutER_Directorate.DirectorateName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.lutER_Division.DivisionName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lutER_Division.DivisionName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.lutER_Location.LocationName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lutER_Location.LocationName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.lutER_Organization.OrganizationalName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lutER_Organization.OrganizationalName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.lutER_Role.RoleType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lutER_Role.RoleType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.lutWAR_Projects.ProjectName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lutWAR_Projects.ProjectName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EmailAddress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmailAddress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EmpArchive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmpArchive)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Matrixed)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Matrixed)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.EmpId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </td>
    </tr>
</table>
